
<div class="box box-widget">
  <div class="box-header with-border">
    <div class="user-block">
      <img class="img-circle" src="{{ notice.actor.avatar_url }}" alt="User Image">
      <span class="username"><a href="{{ notice.actor.get_absolute_url }}">{{ notice.actor }}</a>
        {% if notice.target %}在 <a href="{{ notice.target.get_absolute_url }}">{{ notice.target }}</a>{% endif %}{{ notice.verb }}</span>
      <span class="description">{{ notice.timesince }} 前</span>
    </div>
    <!-- /.user-block -->
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <p>{{ notice.description|safe|truncatechars_html:50 }}</p>
    <span class="pull-right text-muted">
      {% if notice.unread %}
      <a href="{%  url 'notifications:mark_as_read' notice.slug %}" class="btn btn-default btn-xs">标为已读</a>
      {% else %}
      <a class="btn btn-default btn-xs disabled">标为已读</a>
      {% endif %}
      <a href="{% url 'notifications:delete' notice.slug %}" class="btn btn-default btn-xs">删除</a>
    </span>
  </div>
</div>