{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}登录{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    {% if messages %}
	{% for message in messages %}
       <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i>提示</h4>
                {{ message }}
       </div>
	{% endfor %}
    {% endif %}
  <div class="panel-heading">登录</div>
  <div class="panel-body">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form | crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
