{% extends "user/profile.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form %}

   <div class="col-md-6 center-block">
    <div class="box box-black">
        <div class="box-header with-border">
              <h3 class="box-title">修改密码</h3>
            </div>
        <div class="box-body">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
        </div>
    </div>
    {% if messages %}
	{% for message in messages %}
       <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i>提示</h4>
                {{ message }}
       </div>
	{% endfor %}
    {% endif %}
   </div>
{% endblock %}
