{% extends 'base/base.html' %}
{% block title %}{{ user_detail.nickname }}的主页{% endblock %}
{% block content %}
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{ user_detail.avatar_url }}" alt="User profile picture">

              <h3 class="profile-username text-center">{{ user_detail.nickname }}</h3>

              <p class="text-muted text-center">{{ user_detail.signature}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>帖子</b> <span class="pull-right">{{ user_detail.posts.count }}</span>
                </li>
                <li class="list-group-item">
                  <b>回复</b> <span class="pull-right">{{ user_detail.comments.count }}</span>
                </li>
                <li class="list-group-item">
                  <b>关注</b> <span class="pull-right">{{ user_detail.follows.count }}</span>
                </li>
              </ul>
              {% if check_follow == 'followed' %}
              <button class="btn btn-default btn-block" id="un_follow">已关注/取消关注</button>
              {% else %}
              <button class="btn btn-default btn-block" id="follow">关注</button>
              {% endif %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">帖子</a></li>
              <li class=""><a href="#comment" data-toggle="tab" aria-expanded="false">回复</a></li>
              <li class=""><a href="#follows" data-toggle="tab" aria-expanded="false">关注</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="activity">
              <table class="table table-hover">
                <tbody><tr>
                  <th>标题</th>
                  <th>版块</th>
                  <th>发表日期</th>
                  <th>回复</th>
                </tr>
                {% for post in user_detail.posts.all %}
                <tr>
                  <td><a href="{{ post.get_absolute_url }}"><span>{{ post.title }}</span></a></td>
                  <td><a href="{{ post.category.get_absolute_url }}"><span>{{ post.category }}</span></a></td>
                  <td>{{ post.created_time }}</td>
                  <td>{{ post.comments.count }}</td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>

              <div class="tab-pane" id="follows">
                <table class="table table-hover">
                <tbody><tr>
                  <th>用户</th>
                  <th>加入时间</th>
                </tr>
                {% for user in user_detail.follows.all %}
                <tr>
                  <td><a href="{{ user.get_absolute_url }}"><span>{{ user.nickname }}</span></a></td>
                  <td>{{ user.joined_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
              </div>

              <div class="tab-pane" id="comment">
                <table class="table table-hover">
                <tbody><tr>
                  <th>回复内容</th>
                  <th>回复帖子</th>
                  <th>回复日期</th>
                </tr>
                {% for comment in user_detail.comments.all %}
                <tr>
                  <td>{{ comment.content|safe }}</td>
                  <td><a href="{{ comment.post.get_absolute_url }}"><span>{{ comment.post }}</span></a></td>
                  <td>{{ comment.submit_time }}</td>
                </tr>
                {% endfor %}
              </tbody></table>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
{% endblock %}
{% block script %}
<script>
    $(function () {
        $('#follow').click(function () {
            if({% if user.is_authenticated %}1{% else %}0{% endif %}){
                $.ajax({
                'url': '/user/follow/{{ user_detail.pk }}/',
                'type':'get',
                'dataType':'json',
                }).done(function(data){
                          if(data.res==0){
                            alert('已经关注过该用户了！')
                          }
                          else if(data.res==1){
                              alert('关注成功！')
                              window.location.reload()
                          }
                        }
                  )
            }
            else{
                alert('登陆后才能关注！')
            }
        })


        $('#un_follow').click(function () {
            if({% if user.is_authenticated %}1{% else %}0{% endif %}){
                $.ajax({
                'url': '/user/un_follow/{{ user_detail.pk }}/',
                'type':'get',
                'dataType':'json',
                }).done(function(data){
                          if(data.res==1){
                            alert('取消关注成功！')
                            window.location.reload()
                          }
                          else{
                            window.location.reload()
                          }
                        }
                  )
            }
            else{
                alert('未登录！')
            }
        })

    })
</script>
{% endblock %}