{% extends 'forum/index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}{{ post.title }}{%endblock %}
{% block navigate %}
/ {{ post.title }}
{% endblock %}
{% block content %}
<div class="col-md-8">
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="{{ post.creator.avatar_url }}" alt="User Image">
                <span class="username"><a href="{{ post.creator.get_absolute_url }}">{{ post.creator }}</a></span>
                <span class="description">{{ post.created_time }}</span>
              </div>
              <!-- /.user-block -->
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                  <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>{{ post.content|safe }}</p>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">127 likes - {{ post.comments.count}} 回复</span>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                {% for comment in post.comments.all %}
                <li class="item">
                  <div class="product-img">
                    <img src="{{ comment.creator.avatar_url }}" alt="Product Image" class="img-circle">
                  </div>
                  <div class="product-info">
                    <a href="{{ comment.creator.get_absolute_url }}" class="username">{{ comment.creator.nickname }}</a>
                    <span class="text-muted pull-right">{{ comment.submit_time }}</span>
                    <div class="box-body">{{ comment.content|safe }}</div>
                    {% if user != comment.creator %}
                    <a  href="#cke_id_content" onclick="reply_to('{{ comment.creator.get_absolute_url }}', '{{ comment.creator.nickname }}', '{{ comment.pk }}')"  class="text-muted pull-right">回复</a>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
                <!-- /.item -->
              </ul>
            </div>
          </div>
        <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">发表回复</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if user.is_authenticated %}
              <form action="{% url 'forum:detail' post.pk %}" method="post">
                {% csrf_token %}
              {{ form.media }}
              {{ form|crispy }}
                <div class="box-footer">
                <button type="submit" class="btn btn-primary">回复</button>
              </div>
              </form>
              {% else %}
              <a href="{% url 'account_login' %}">登录</a>后参与回复
              {% endif %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
<script>
function reply_to(url, name, at) {
    $("#id_reply_to").val(at)
    if({% if user.is_authenticated %}1{% else %}0{% endif %}){
      CKEDITOR.instances.id_content.focus()
      CKEDITOR.instances.id_content.insertHtml("@<a href=" + url + ">" + name + "</a> ");
    }
    else
    {
    alert("登录后才能回复!");
    }


}
</script>
{% endblock %}
